.App {
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
    color: white;
}

button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    padding: 2px 16px;
    height: 32px;
    min-width: 60px;
    min-height: 32px;
    border: none;
    color: #fff;
    background-color: #4f545c;
    transition: background-color .17s ease,color .17s ease;
}

.Welcome {
    text-align: center;
    color: white;
}

/* .SearchHeader {
    text-align: center;
    color: white;
} */

/* .FooterDiv {
} */

.Delete {
    position: fixed;
    bottom: 0px;
    right: 5px;
}

.AddCards {
    position: fixed;
    bottom: 0px;
    right: 155px;
}

.Footer {
    position: fixed;
    bottom: 0;
}


/* .Nav {
    background-color: #78909C;
} */