html {
    background-color: black;
}

.App {
    background-color: black;
    color: white;
}

h1 {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: white;
}

p {
    padding-bottom: 25px;
    text-align: center;
    color: white;
}

button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    padding: 2px 16px;
    height: 32px;
    min-width: 60px;
    min-height: 32px;
    border: none;
    color: #fff;
    background-color: #4f545c;
    transition: background-color .17s ease,color .17s ease;
}

.Counter {
    position: relative;
    text-align: center;
}

.Delete {
    position: fixed;
    bottom: 0px;
    right: 5px;
}

.AddCards {
    position: fixed;
    bottom: 0px;
    right: 155px;
}

.Footer {
    position: fixed;
    bottom: 0;
}

.Card {
    position: relative;
    left: 800px;
    bottom: 500px;
}

.Card.CardInfo{
    position: fixed;
    right: 200px;
}

Label {
    margin-right: 5px;
    margin-left: 20px;
    display: inline-block;
}