.App {
    background-color: #455A64;
}

.Welcome {
    text-align: center;
    color: black;
}

.SearchHeader {
    text-align: center;
    color: black;
}

/* .Nav {
    background-color: #78909C;
} */